<main>
  <div class="container d-flex align-items-center mt-5 mb-5">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">

          <div class="text-center mb-5">
            <h3>Content de te revoir</h3>
            <h6 class="text-muted mb-0">Connecte toi pour continuer</h6>
          </div>
          <span class="clearfix"></span>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@exemple.com", id: "input-email", class: "form-control" %>
              </div>
            </div>
            
            <div class="form-group mb-4">
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "input-password", placeholder: "Mot de passe" %>
                  </div>
                </div>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <% if devise_mapping.rememberable? %>
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1" %>
              <label class="custom-control-label" for="customCheck1">
                <span>Se souvenir de moi</span>
              </label>
              <% end %>
            </div>
            
            <div class="text-center mb-3">
              <%= f.submit "Connexion", class: "btn btn-block btn-primary" %>
            </div>

            <div class="text-center">
              <span>Pas encore inscrit?</span>
              <%= render "users/shared/links" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</main>