<%= render "layouts/header-profile" %>

                <section class="slice">
            <div class="container">
                <div class="row row-grid">
                    <%= render "layouts/sidebar-profile" %>
                    
                    <div class="col-lg-9">
                        <!-- Change avatar -->

                        <div class="card bg-gradient-warning border-0 shadow mb-4">
                            <div class="card-body py-3">
                                <div class="row row-grid align-items-center">
                                    <div class="col-lg-8">
                                        <div class="media align-items-center">
                                            <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                                                <img alt="Image placeholder" src="../assets/img/prv/team-1-800x800.jpg">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="text-white mb-0"><%= @user.first_name %></h5>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                            <!-- General -->
                            <div class="page-inner-header mb-4">
                                <h3 class="mb-1">Profil Danseur</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                	<h5>Prénom</h5>
                                    <p><%= @user.first_name %></p>
                                </div>
                                <div class="col-md-6">
                                    <h5>Nom </h5>
                                    <p><%= @user.last_name %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                        <h5>Blase de danseur</h5>
                                        <p><%= @user.nickname %></p>
                                </div>
                                <div class="col-md-6">
                                	<h5>Date d'anniversaire</h5>
                                	<p><%= @user.birthdate %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                	<h5>Style(s)</h5>
                                    <% @user.styles.each do |style| %>
                                    <p><%= style %></p>
                                    <% end %>
                                </div>
                                <div class="col-md-6">
                                	<h5>Niveau</h5>
                                    <p><%= @user.level %></p>
                                </div>
                            </div>

                            <div class="pt-5 mt-5 delimiter-top">

                                <div class="page-inner-header mb-4">
                                    <h3 class="mb-1">Profil Organisateur</h3>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                      <h5>Nom d'Organisateur</h5>
                                    	<p><%= @user.name %></p>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Mail</h5>
                                        <p><%= @user.contact_mail %></p>
                                        <small>Cet email sera accessible sur vos page d'événements afin de pouvoir être contacter pour vos participants</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Description</h5>
                                        <p><%= @user.description %></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <h5>Réseaux Sociaux</h5>
                                         <div class="row">
                                            <div class="col-md-3">
                                                <a href="<%= @user.facebook %>"><i class="fab fa-facebook"></i></a>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="<%= @user.twitter %>"><i class="fab fa-twitter"></i></a>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="<%= @user.instagram %>"><i class="fab fa-instagram"></i></a>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="<%= @user.youtube %>"><i class="fab fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <h5>Site Web</h5>
                                        <a href="<%= @user.website %>"><i class="fas fa-link", style="color:#000000;"></i>&nbsp;Site Internet</a>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-5 mt-5 delimiter-top">
                                <a href="<%= edit_user_registration_path %>"><button class="btn btn-sm btn-primary"><i class="fas fa-cog mr-2"></i>Modifier mon profil</button></a>
                            </div>                      
                    </div>
                </div>
            </div>
        </section>
