<div class="container rounded box-shadow mt-5">
  		<div class="row">
    		<div class="col-sm-8 ml-0">
    			<img class="img-fluid rounded" src="https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" alt="Image thumb">
    		</div>
    		<div class="col-sm-4 px-5">
    				<span class="d-block text-uppercase text-primary mt-3"><%= @event.start_date.strftime("%^b") %></span>
                	<span class="d-block h1" style="font-family: 'Oswald', sans-serif;"><%= @event.start_date.strftime("%d") %></span>

    			<a href="" class="badge badge-pill badge-primary text-white"><%= @event.category %></a>
    			<h1><%= @event.title %></h3>
    			<h2>Organisé par : <%= @event.admin.name %></h4>
    			<p><%= @event.price %>&nbsp;€</p>

					<% if current_user == @event.admin %>
					<%= link_to "Voir les participants", event_attendance_path(@event.id), class: "btn
				          btn-info btn-block mb-3 mx-auto" %></button>
					<% elsif is_user_an_attendee? %>
				   		<p> Tu participes déjà à cet évènement </p>
					<% else %>
				   	<%= link_to "Je Participe", new_event_attendance_path(@event.id), class: "btn
				          btn-primary btn-sm btn-block mb-3" %>
					<% end %>
    		</div>
  		</div>

  		<div class="row mt-3">
    		<div class="col-sm-8 my-2 px-5">
    			<h4 class="mb-5 mt-3">Description</h4>
    			<p><%= @event.description %></p>
    			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    			<h4 class="mb-5 mt-5">Programme</h4>
    			<p><strong>19h : </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			<p><strong>20h : </strong>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    			<p><strong>21h : </strong>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
    			<p><strong>22h : </strong>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    			<h4 class="mb-3 mt-5">Tags</h4>
    			<% @event.styles.each do |style| %>
					<span class="badge badge-pill badge-primary text-white mr-2 mb-3"><%= style %></span>
				<% end %>
    		</div>
    		<div class="col-sm-4 my-2 px-5">
    			<i class="far fa-clock fa-lg mb-3 mt-3", style="color:#B5AEE4"></i>
    			<p>mar. 19 février 2019</p>
    			<p>08:30 – 17:00 heure : France</p>
    			<i class="fas fa-map-marked-alt fa-lg mb-3 mt-3", style="color:#B5AEE4"></i>
    			<p>139 Rue de Bercy</p>
    			<p>75012 Paris</p>
    			<button class="btn btn-sm btn-secondary text-white">Ajouter à mon calendrier</button>
    		</div>
  		</div>
	</div>

	<hr class="col-sm-9">

<section class="pt-sm pt-lg-0 pb-sm">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <img src="https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" alt="Image thumb" class="avatar avatar-lg mr-3 mt-3">
                    <p><%= @event.admin.name %></p>
                </div>
                <ul class="nav justify-content-center mt-3">
                	<li class="nav-item">
                        <a class="nav-link px-4 text-dark" href="mailto:<%= @event.admin.contact_mail %>"><i class="far fa-envelope", style="color:#000000;"></i>&nbsp;Contacter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4 text-dark" href="<%= @event.admin.website %>"><i class="fas fa-link", style="color:#000000;"></i>&nbsp;Site Internet</a>
                    </li>
                    <li class="nav-item">
                </ul>
                <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-lg-8 text-center">
                        <p><%= @event.admin.description %>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis risus dolor, at euismod purus euismod nec. Vivamus ac feugiat nullam.</p>
                    </div>
                </div>
                <ul class="nav justify-content-center mt-3">
                	<p>Retrouve nous sur</p>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="<%= @event.admin.facebook %>"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="<%= @event.admin.twitter %>"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="<%= @event.admin.instagram %>"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="<%= @event.admin.youtube %>"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
 </section>

