<div class="container rounded box-shadow">
  <div class="row">
    <div class="col-sm-8">
    	<img class="img-fluid" src="https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" alt="Image thumb">
    </div>
    <div class="col-sm-4 pt-5">
    	<p><%= @event.start_date %></p>
    	<h2><%= @event.title %></h2>
    	<h3>Par : <%= @event.admin.name %></h3>
    	<h4 class="pt-5"><%= @event.price %>€</h4>
      <div class="pt-5">
        <% if current_user == @event.admin %>
          <button type="button" class="btn btn-block"><%= link_to "Voir les participants", event_attendance_path(@event.id), class: "btn btn-primary btn-lg btn-block" %></button>
        <% elsif is_user_an_attendee? %>
          <p> Tu participes déjà à cet évènement </p>
        <% else %>
          <button type="button" class="btn btn-block"><%= link_to "Participer", new_event_attendance_path(@event.id), class: "btn btn-primary btn-lg btn-block" %></button>
        <% end %>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-sm-8 my-3 px-5">
    	<h4>Description</h4>
      <p><%= @event.description %></p>
    	<h4>Style(s)</h4>
      <ul>
        <% @event.styles.each do |style| %>
          <li><%= style %></li>
        <% end %>
      </ul>
    	<h4 class="pt-4">Tags</h4>
    	<span class="badge badge-md badge-pill badge-warning"><%= @event.category %></span>
    </div>

    <div class="col-sm-4 my-5">
    	<h5>Date et Heure</h5>
    	<p><%= @event.start_date.strftime("%A %d %B %Y") %></p>
    	<p>08:30 – 17:00 heure</p>
    	<h5 class="pt-5">Adresse</h5>
      <p><%= @event.location_address %></p>
    	<p>139 Rue de Bercy</p>
    	<p>75012 Paris</p>
    </div>
  </div>
</div>







