<div class="mx-auto mt-3 py-3" style="width: 600px;">
<h1>Évenement</h1>
</div>

<div class="mx-auto py-3" style="width: 600px;">
	<table class="table">
  		<tbody>
	    <tr>
	      <th scope="row">Évenement</th>
	      <td><%= @event.title %></td>
	    </tr>
	    <tr>
	      <th scope="row">Description</th>
	      <td><%= @event.description %></td>
	    </tr>
	     <tr>
	      <th scope="row">Date</th>
	      <td><%= @event.start_date %></td>
	    </tr>
	    <tr>
	      <th scope="row">Lieu</th>
	      <td><%= @event.location %></td>
	    </tr>
	    <tr>
	      <th scope="row">Prix</th>
	      <td><%= @event.price %>€</td>
	    </tr>
	    <tr>
	      <th scope="row">Style(s)</th>
	      <td>
	      	<ul>
	      		<% @event.styles.each do |style| %>
	      		<li><%= style %></li>
	      		<% end %>
	      	</ul>
	      </td>
	    </tr>
	    <tr>
	      <th scope="row">Catégorie</th>
	      <td><%= @event.category %></td>
	    </tr>
  		</tbody>
	</table>
</div>
<div class="container rounded box-shadow">
  		<div class="row">
    		<div class="col-sm-8">
    			<img class="img-fluid" src="https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" alt="Image thumb">
    		</div>
    		<div class="col-sm-4 pt-5">
    			<p><%= @event.start_date %></p>
    			<h3><%= @event.title %></h3>
    			<h4>Par: <%= @event.admin.name %></h4>
    			<p class="pt-5">5 €</p>
    		</div>
  		</div>
			<div class="mx-auto py-3" style="width: 600px;">
  <% if current_user == @event.admin %>
    <button type="button" class="btn"><%= link_to "Voir les participants", event_attendance_path(@event.id), class: "btn
          btn-lg btn-info" %></button>
  <% elsif is_user_an_attendee? %>
   	<p> Tu participes déjà à cet évènement </p>
   <% else %>
   <button type="button" class="btn"><%= link_to "Je Participe", new_event_attendance_path(@event.id), class: "btn
          btn-lg btn-info" %></button>
  <% end %>
</div>
  		<div class="row border border-ligth py-3">
  			<div class="col-sm-4">
				<a href="" class="btn btn-primary btn-lg btn-block">Participer</a>
			</div>
  		</div>

  		<div class="row">
    		<div class="col-sm-8 my-3 px-5">
    			<h5>Description</h5>
    			<p><%= @event.description %></p>
    			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    			<h5 class="pt-4">Programme</h5>
    			<p><strong>19h : </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			<p><strong>20h : </strong>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    			<p><strong>21h : </strong>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
    			<p><strong>22h : </strong>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    			<h5 class="pt-4">Tags</h5>
    			<span class="badge badge-pill badge-light mr-2">Paris</span>
    			<span class="badge badge-pill badge-light mr-2">Soirée entre amis</span>
    		</div>
    		<div class="col-sm-4 my-5">
    			<h5>Date et Heure</h5>
    			<p>mar. 19 février 2019</p>
    			<p>08:30 – 17:00 heure : France</p>
    			<h5 class="pt-5">Adresse</h5>
    			<p>139 Rue de Bercy</p>
    			<p>75012 Paris</p>
    		</div>
  		</div>
  	</div>