<% if @attendance.errors.any? %>
   <div class="alert alert-danger text-center" role="alert">
 <p>Nous n'avons pas réussi à créer la participation pour la (ou les) raison(s) suivante(s) :</p>
 <ul>
   <% @attendance.errors.full_messages.each do |message| %>
     <li><%= message %></li>
   <% end %>
 </ul>
</div>
<% end %>


<% if event_is_a_battle %>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Participer à l'évent</h5>
            <h5 class="card-title text-center">Tu veux participer dans quel style ?</h5>
            <%= form_tag url_for(action: 'create'), method: "post", class: "form-signin" do %>

            <%= select_tag(:styles, options_for_select(@style_options)) %>

      		<div class="form-group">
            	<%= submit_tag "Je participe", class: "btn btn-lg btn-primary btn-block" %>
      		</div>
          </div>
        </div>
      </div>
    </div>
    <% end %>	
</div>

<% else %>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Participer à l'évent</h5>
            <%= form_tag url_for(action: 'create'), method: "post", class: "form-signin" do %>

          <div class="form-group">
              <%= submit_tag "Je participe", class: "btn btn-lg btn-primary btn-block" %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% end %> 
</div>

<% end %>