<section class="slice bg-light">
  <div class="container">

  <% if @event.attendances.count == 0 %>
    <h2>Participants de <%= @event.title %></h2>
    <h3>Il n'y a pas encore de participants à cet évènement</h3>

  <% else %>

    <div class="row">

  <div class="col-lg-4">
    <h2>Participants au <%= @event.title %></h2>
  </div>

  <div class="col-lg-4">
    <div class="card card-stats bg-gradient-warning shadow-warning border-0 mb-4">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <span class="icon icon-sm text-white">
            <i class="fas fa-file-alt"></i>
            </span>
          </div>
          <div class="pl-4">
            <h5 class="mb-1 text-white"><%= @event.attendances.count %></h5>
            <span class=" text-white">Personnes inscrites à ton <%= @event.category %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card card-stats bg-gradient-info shadow-info border-0 mb-4">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <span class="icon icon-sm text-white">
            <i class="fas fa-credit-card"></i>
            </span>
          </div>
          <div class="pl-4">
            <h5 class="mb-1 text-white"><%= total_price %>€</h5>
            <span class=" text-white">Prix Total</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

</div>

<div class="container">

  <% @event.styles.each do |style| %>
  <h3 class="pt-3"><%= style %></h3>

  <table class="table table-hover table-cards align-items-center">
  <thead>
        <tr>
            <th scope="col">Danseur</th>
            <th scope="col">Email</th>
            <th scope="col">Inscrit le</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>

    <% @event.attendances.each do |attendance| %>
    <% if attendance.style == style %>
    <tbody>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-primary mr-3"></span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0"><%= attendance.dancer.first_name %> <%= attendance.dancer.last_name %></h6>
                        <span class="font-weight-normal text-muted"><%= attendance.dancer.nickname %></span>
                    </div>
                </div>
            </th>
            <td><%= attendance.dancer.email %></td>
            <td><%= attendance.created_at.strftime("%d / %m / %Y") %></td>
            <td>
              <a href="mailto:<%= attendance.dancer.email %>" class="btn btn-icon-only">
                <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
              </a>
              <a href="#" class="btn btn-icon-only">
                <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
               </a>
            </td>
        </tr>
        <tr class="table-divider"></tr>
    </tbody>

    <% end %>
    <% end %>
  </table>

<% end %>
</div>

<% end %>

<div class="mx-auto py-3" style="width: 600px;">
  <% if current_user_is_admin %>
    <%= link_to "Modifier l'évenement", edit_event_path(@event.id), class: "btn btn-lg btn-info" %>
  <% end %>
</div>
</section>