<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Event Hip Hop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_event_path %>">Créer Un événement</a>
      </li>
      <li class="nav-item">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link text-primary mr-2" %>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_session_path %>">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_registration_path %>">Créer Compte</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>