<h2>Edit <%= resource_name.to_s.humanize %></h2>

<h3>Editer mon profil Danseur</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :prénom %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  
  <div class="field">
    <%= f.label :pseudo_danseur %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :date_de_naissance %><br />
    <%= f.date_field :birthdate, autofocus: true, autocomplete: "birthdate" %>
  </div>

  <div class="field">
    <%= f.label :styles_de_danse %><br />
    <%= f.text_field :style, autofocus: true, autocomplete: "style" %>
  </div>

  <div class="field">
    <%= f.label :niveau_de_danse %><br />
    <%= f.text_field :level, autofocus: true, autocomplete: "level" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>





<h3>Editer mon profil Organisateur</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nom_organisateur %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :description_organisateur %><br />
    <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
  </div>

  <div class="field">
    <%= f.label :mail_de_contact %><br />
    <%= f.email_field :contact_mail, autofocus: true, autocomplete: "contact_mail" %>
  </div>

  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook, autofocus: true, autocomplete: "facebook" %>
  </div>

  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter, autofocus: true, autocomplete: "twitter" %>
  </div>

    <div class="field">
    <%= f.label :instagram %><br />
    <%= f.text_field :instagram, autofocus: true, autocomplete: "instagram" %>
  </div>

  <div class="field">
    <%= f.label :youtube %><br />
    <%= f.text_field :youtube, autofocus: true, autocomplete: "youtube" %>
  </div>

    <div class="field">
    <%= f.label :site %><br />
    <%= f.text_field :website, autofocus: true, autocomplete: "website" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>





<h3>Editer mon profil Utilisateur</h3>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
